<!DOCTYPE html>
<html ng-app="Myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title>LogIn/SignUp</title>
    <link rel="stylesheet" type="text/css" href="Style/Main_style.css"/>
</head>
<body class="authentication" ng-controller="authenticationCtrl as authCtrl">


<div class="auth_wrapper">
    <div class="auth_logo"></div>

    <div class="cont_forChanges">
    <div class="changing_content_signUp">
        <div class="panel_header">
            <h2>Registration</h2>
        </div>

        <div class="panel">

            <form id="signUp_form" ng-submit="authCtrl.submit(signUp_form)" name="signUp_form">
                <label for="username">Username</label>
                <input name="uname"
                       id="username"
                       placeholder="ex.sexybenfranklin"
                       type="text"
                       ng-model="authCtrl.username"
                       required
                       ng-minlength="5"
                       ng-focus="placeholder=' '" />
                <span ng-cloak="true" class="warning"  ng-show="signUp_form.uname.$error.required && submitted">This is the required field</span>
                <span ng-cloak="true" class="warning"  ng-show="signUp_form.uname.$error.minlength && submitted">Minimum is 5 characters</span>
                <br/>
                <label for="email">E-mail</label>
                <input name="email"
                       id="email"
                       placeholder ="ex.sexybenfranklin@mail.ca"
                       type="email"
                       ng-model="authCtrl.userEmail"
                       required />
                <span ng-cloak="true" class="warning" ng-show="signUp_form.email.$error.required && submitted">This is the required field</span>
                <span ng-cloak="true" class="warning" ng-show="signUp_form.email.$error.email && submitted">It is not valid email</span>
                <br/>
                <label for="password">Password</label>
                <input name="passward"
                       class="password"
                       id="password"
                       placeholder ="ex.password1234"
                       type="password"
                       ng-model="authCtrl.password"
                       required
                       ng-minlength="8"/>
                <span ng-cloak="true" class="warning" ng-show="signUp_form.passward.$error.required && submitted">This is the required field</span>
                <span ng-cloak="true" class="warning" ng-show="signUp_form.passward.$error.minlength && submitted">Minimum is 8 characters</span>

                <button type="submit" ng-click="submitted = true">Register</button>
            </form>

        </div>

        <div class="under_panel">
            <p class="under_panel_firstLine"><a href="javascript:void(0)">Log In</a>/<a href="javascript:void(0)">Retrieve the password</a></p>
            <p class="under_panel_secondLine"><a href="javascript:void(0)"><-- Home page</a></p>
        </div>
    </div>
    </div>

</div>

<!-- FOOTER-->
<footer>
    <p>&copy; 2015, Barter Starter</p>
</footer>
<!--angular libs-->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-route.min.js"></script>
<script src="libs/angular/angular-animate.min.js"></script>

<!-- angular modules-->
<script src="Scripts/app.js"></script>
<script src="Scripts/controllers/mainController.js"></script>
<script src="Scripts/directives/project_directive.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
<!--<script src="Scripts/authentication_temp.js"></script>-->
<!-- Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62962703-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>