.authentication {
  background: whitesmoke;
  padding-top: 150px;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  padding-left: 15px;
  line-height: 0.5em;
  color: #888888; }
  .authentication .warning {
    position: absolute;
    margin: 12px;
    padding: 14px;
    background: lightpink;
    color: #444;
    -webkit-border-radius: 2pt;
    -moz-border-radius: 2pt;
    -ms-border-radius: 2pt;
    border-radius: 2pt;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1); }
    .authentication .warning:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid lightpink;
      border-bottom: 10px solid transparent;
      top: 8px;
      left: -10px; }
  .authentication .auth_logo {
    width: 200px;
    height: 75px;
    background: transparent url("../Materials/Materials_v2.gif") 50% 0% no-repeat;
    background-size: 100%;
    margin: 0 auto 40px auto;
    opacity: 0.3; }
  .authentication .panel, .authentication .panel_logIn {
    background: white;
    padding: 30px 20px 0 30px;
    margin: 0;
    height: 370px;
    -webkit-border-radius: 2pt;
    -moz-border-radius: 2pt;
    -ms-border-radius: 2pt;
    border-radius: 2pt;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1); }
    .authentication .panel label, .authentication .panel_logIn label {
      display: block;
      color: rgba(0, 0, 0, 0.4);
      margin-top: 5px; }
      .authentication .panel label:nth-child(7), .authentication .panel_logIn label:nth-child(7) {
        margin-top: 30px; }
    .authentication .panel input, .authentication .panel_logIn input {
      margin: 5px 0 15px 0;
      width: 89%;
      padding: 10px;
      font-family: "Roboto-Light-Italic", sans-serif;
      outline: none;
      border: none;
      box-shadow: none;
      color: rgba(0, 0, 0, 0.4);
      font-size: 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .authentication .panel input:focus, .authentication .panel_logIn input:focus {
        font-family: "Roboto-Regular", sans-serif;
        color: #444;
        font-size: 1em;
        border-bottom: 1px solid rgba(68, 168, 222, 0.7); }
    .authentication .panel .password, .authentication .panel_logIn .password {
      font-family: "Roboto-Light-Italic", sans-serif;
      font-size: 1em;
      color: rgba(0, 0, 0, 0.2);
      height: 19px; }
    .authentication .panel button, .authentication .panel_logIn button {
      float: right;
      border: none;
      padding: 8px 22px;
      color: white;
      background: #44A8DE;
      font-family: "Roboto-Light", sans-serif;
      margin: 35px 15px 0 0;
      -webkit-border-radius: 2pt;
      -moz-border-radius: 2pt;
      -ms-border-radius: 2pt;
      border-radius: 2pt; }
      .authentication .panel button:hover, .authentication .panel_logIn button:hover {
        background: #47c0f6; }
      .authentication .panel button:active, .authentication .panel_logIn button:active {
        background: #31759d; }
  .authentication .panel_logIn {
    height: 260px; }
  .authentication .auth_wrapper {
    width: 350px;
    margin: 0 auto; }
  .authentication .panel_header {
    padding: 13px 20px 13px 30px;
    background: white;
    margin-bottom: 20px;
    border-left: 6px solid #44A8DE;
    -webkit-border-radius: 2pt;
    -moz-border-radius: 2pt;
    -ms-border-radius: 2pt;
    border-radius: 2pt;
    -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1); }
    .authentication .panel_header h2 {
      font-family: "Roboto-Regular", sans-serif;
      font-size: 0.9em;
      letter-spacing: 0.4px;
      color: #444; }
  .authentication a {
    text-decoration: none;
    font-size: 0.8em;
    color: #888888; }
    .authentication a:hover {
      text-decoration: underline; }

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 999; }
  .header .h_innercontainer {
    padding: 15px 5% 5px 5%; }
  .header .h_logo {
    background: transparent url("../Materials/Logo_v2.gif") 50% 50% no-repeat;
    background-size: 100%;
    width: 130px;
    height: 50px;
    display: inline-block;
    float: left; }
  .header .h_nav {
    display: inline-block;
    width: -webkit-calc(100% - 130px);
    width: calc(100% - 130px);
    float: left;
    padding: 15px 0 0 5%;
    box-sizing: border-box; }
    .header .h_nav li:nth-child(2), .header .h_nav li:nth-child(3) {
      float: right;
      padding: 0 20px; }
    .header .h_nav li {
      list-style: none;
      display: inline-block; }
    .header .h_nav a {
      text-decoration: none;
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      color: #e8e8e8; }
      .header .h_nav a:hover {
        color: #f08a4a; }
      .header .h_nav a:active {
        color: #a75a35; }

.homepage {
  background-color: #f1f1f1; }
  .homepage .home_banner_filters {
    width: 100%; }
    .homepage .home_banner_filters .h_banner_color {
      width: 100%;
      height: 800px;
      position: relative; }
      .homepage .home_banner_filters .h_banner_color .floating_colors {
        position: absolute;
        z-index: -10;
        display: inline-flex;
        width: 100%;
        height: 800px; }
      .homepage .home_banner_filters .h_banner_color .color_left, .homepage .home_banner_filters .h_banner_color .color_right, .homepage .home_banner_filters .h_banner_color .color_center {
        height: 800px; }
      .homepage .home_banner_filters .h_banner_color .color_left, .homepage .home_banner_filters .h_banner_color .color_right {
        width: 20%;
        background: #1f5372; }
      .homepage .home_banner_filters .h_banner_color .color_center {
        width: 60%;
        background: #1e5070; }
    .homepage .home_banner_filters .h_filters_color {
      width: 100%;
      background: #53a4dc;
      height: 70px; }
    .homepage .home_banner_filters .h_banner, .homepage .home_banner_filters .h_filters {
      max-width: 960px;
      margin: 0 auto; }
    .homepage .home_banner_filters .h_banner {
      padding-top: 100px; }
      .homepage .home_banner_filters .h_banner h3 {
        color: #53a4dc;
        font-size: 2em;
        margin: 5px; }
      .homepage .home_banner_filters .h_banner h1 {
        color: #8dc8e5;
        font-size: 5em;
        margin: 0; }
    .homepage .home_banner_filters .center_forButtons {
      width: 580px;
      margin: 75px auto 0 auto; }
      .homepage .home_banner_filters .center_forButtons button {
        background: #f08a4a;
        outline: none;
        border: none;
        padding: 18px 1px;
        border-radius: 2pt;
        margin: 0 6px;
        -webkit-box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: box-shadow 0.3s ease;
        -moz-transition: box-shadow 0.3s ease;
        -ms-transition: box-shadow 0.3s ease;
        -o-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease; }
        .homepage .home_banner_filters .center_forButtons button:hover {
          background: #ff984b;
          box-shadow: none; }
        .homepage .home_banner_filters .center_forButtons button:active {
          background: #ab6036;
          box-shadow: none; }
      .homepage .home_banner_filters .center_forButtons button:last-child {
        padding: 18px 4px; }
      .homepage .home_banner_filters .center_forButtons a {
        text-decoration: none;
        color: white;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 1.3em;
        padding: 18px 49px; }
      .homepage .home_banner_filters .center_forButtons i {
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.7); }
    .homepage .home_banner_filters .h_filters {
      padding-top: 24px; }
      .homepage .home_banner_filters .h_filters ul {
        width: 100%;
        list-style: none;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center; }
      .homepage .home_banner_filters .h_filters li {
        list-style: none;
        width: 20%;
        padding: 0 10px;
        text-align: center; }
      .homepage .home_banner_filters .h_filters a {
        color: white;
        text-decoration: none; }
        .homepage .home_banner_filters .h_filters a:hover {
          color: #3e3e3e; }
        .homepage .home_banner_filters .h_filters a:active {
          color: #000000; }
  .homepage .home_body_projects {
    width: 100%;
    background-color: #f1f1f1; }
    .homepage .home_body_projects .home_body_projects_innercontainer {
      max-width: 960px;
      margin: 0 auto;
      padding: 50px 30px; }
    .homepage .home_body_projects .proj_placeholder {
      width: 100%;
      height: 190px;
      background: white;
      margin: 10px 0;
      -webkit-border-radius: 2pt;
      -moz-border-radius: 2pt;
      -ms-border-radius: 2pt;
      border-radius: 2pt;
      -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1); }
    .homepage .home_body_projects .prime_project {
      width: 100%;
      height: 190px;
      background: white;
      margin: 10px 0;
      padding: 10px;
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: center;
      box-sizing: border-box;
      -webkit-border-radius: 2pt;
      -moz-border-radius: 2pt;
      -ms-border-radius: 2pt;
      border-radius: 2pt;
      -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1); }
      .homepage .home_body_projects .prime_project .project_panel_image {
        width: 20%;
        height: 170px; }
      .homepage .home_body_projects .prime_project .project_panel_body {
        width: 60%;
        height: 170px;
        padding: 10px 5px 0 10px; }
        .homepage .home_body_projects .prime_project .project_panel_body div {
          display: inline-block; }
          .homepage .home_body_projects .prime_project .project_panel_body div span {
            padding: 1px 5px;
            margin: 0 4px 0 0;
            color: white;
            background-color: #3d8896;
            font-family: "Roboto-Light", sans-serif;
            font-size: 0.8em;
            -webkit-border-radius: 2pt;
            -moz-border-radius: 2pt;
            -ms-border-radius: 2pt;
            border-radius: 2pt; }
        .homepage .home_body_projects .prime_project .project_panel_body h1 {
          margin: 5px 0 0 0;
          color: #1F1F1F;
          font-family: "Roboto-Light", sans-serif;
          font-size: 1.5em; }
        .homepage .home_body_projects .prime_project .project_panel_body p {
          margin-top: 8px;
          font-family: "Roboto-Light", sans-serif;
          font-size: 1em; }
      .homepage .home_body_projects .prime_project .project_panel_right {
        width: 20%;
        height: 170px;
        text-align: right;
        padding: 10px 25px 0 0;
        position: relative; }
        .homepage .home_body_projects .prime_project .project_panel_right span:first-child {
          font-size: 0.7em;
          text-align: right;
          display: block;
          width: calc(100% - 60px); }
        .homepage .home_body_projects .prime_project .project_panel_right .hosted {
          width: 100%;
          position: relative; }
        .homepage .home_body_projects .prime_project .project_panel_right .daysLeft {
          width: 100%;
          position: absolute;
          bottom: 20px;
          right: 25px;
          opacity: 0.7; }
        .homepage .home_body_projects .prime_project .project_panel_right h4 {
          margin: 0;
          text-align: right;
          font-family: "Roboto-Light", sans-serif;
          width: -webkit-calc(100% - 60px);
          width: calc(100% - 60px);
          font-size: 0.8em; }
        .homepage .home_body_projects .prime_project .project_panel_right img {
          width: 50px;
          height: 50px;
          text-align: right;
          position: absolute;
          top: 0;
          right: 0; }
        .homepage .home_body_projects .prime_project .project_panel_right h1 {
          margin: 0;
          font-size: 3em;
          height: 51px;
          clear: both;
          font-family: "Roboto-Light", sans-serif; }

footer {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  color: #949494;
  font-family: Roboto-Light; }

.constructor {
  background-color: #f1f1f1;
  padding-top: 90px; }
  .constructor .qanda {
    text-align: center; }
  .constructor .proj_intro_title h1 {
    text-align: center;
    font-family: "Roboto-Light", sans-serif;
    letter-spacing: 1.5px;
    font-size: 2.6em;
    color: #252525; }
  .constructor .h_logo {
    background: transparent url("../Materials/Logo_v3.png") 50% 50% no-repeat;
    background-size: 100%; }
  .constructor .h_nav a {
    color: #1f5372; }
  .constructor .proj_intro_workLine {
    width: 40%;
    margin: 10px auto; }
    .constructor .proj_intro_workLine .proj_intro_workLine_line {
      width: 100%;
      background: lightblue;
      height: 12px;
      border-radius: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
      padding: 2px; }
      .constructor .proj_intro_workLine .proj_intro_workLine_line div {
        width: 20%;
        background: #78a5da;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        height: 8px; }
    .constructor .proj_intro_workLine .proj_intro_workLine_items {
      display: inline-flex;
      width: 100%;
      margin-bottom: 10px; }
      .constructor .proj_intro_workLine .proj_intro_workLine_items .item {
        background: #53a4dc;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
        padding-top: 15px;
        font-family: "Roboto-Light", sans-serif;
        font-size: 1.1em;
        position: relative;
        margin-left: 15%; }
        .constructor .proj_intro_workLine .proj_intro_workLine_items .item:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #53a4dc;
          top: -7px;
          right: 29%; }
      .constructor .proj_intro_workLine .proj_intro_workLine_items .item:first-child:before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #272727 url("../Materials/Materials_v2.gif") 103% 109% no-repeat;
        background-size: 255%;
        top: 0;
        left: 0; }
  .constructor .panel, .constructor .authentication .panel_logIn, .authentication .constructor .panel_logIn {
    background: white;
    width: 960px;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 30px;
    -webkit-border-radius: 2pt;
    -moz-border-radius: 2pt;
    -ms-border-radius: 2pt;
    border-radius: 2pt;
    -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1); }
    .constructor .panel .proj_intro_img_addInfo, .constructor .authentication .panel_logIn .proj_intro_img_addInfo, .authentication .constructor .panel_logIn .proj_intro_img_addInfo {
      display: flex; }
      .constructor .panel .proj_intro_img_addInfo img, .constructor .authentication .panel_logIn .proj_intro_img_addInfo img, .authentication .constructor .panel_logIn .proj_intro_img_addInfo img {
        width: 60%;
        height: 500px;
        -webkit-border-radius: 3pt;
        -moz-border-radius: 3pt;
        -ms-border-radius: 3pt;
        border-radius: 3pt; }
    .constructor .panel .proj_intro_img_addInfo_right, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right {
      width: 40%;
      height: 170px;
      text-align: right;
      padding: 49px 90px 0 0;
      position: relative;
      box-sizing: border-box; }
      .constructor .panel .proj_intro_img_addInfo_right span, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right span, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right span {
        font-size: 1.3em;
        font-family: "Roboto-Light", sans-serif;
        text-align: left;
        display: block;
        padding-left: 35%; }
      .constructor .panel .proj_intro_img_addInfo_right .days_string, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right .days_string, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right .days_string {
        display: inline-block;
        padding: 0;
        margin-left: -3px;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 1.5em;
        color: #515151; }
      .constructor .panel .proj_intro_img_addInfo_right h2, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right h2, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right h2 {
        margin: 10px 0 70px 0;
        text-align: right;
        font-family: "Roboto-Light", sans-serif;
        font-size: 5.5em;
        color: #252525;
        display: inline-block; }
      .constructor .panel .proj_intro_img_addInfo_right img, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right img, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right img {
        width: 80px;
        height: 80px;
        margin-left: 18px;
        margin-right: 10px;
        -webkit-border-radius: 3pt;
        -moz-border-radius: 3pt;
        -ms-border-radius: 3pt;
        border-radius: 3pt; }
      .constructor .panel .proj_intro_img_addInfo_right div, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right div, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right div {
        display: flex; }
        .constructor .panel .proj_intro_img_addInfo_right div span, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right div span, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right div span {
          font-size: 0.7em;
          text-align: right;
          padding: 12px 0 5px 0; }
        .constructor .panel .proj_intro_img_addInfo_right div h4, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right div h4, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right div h4 {
          margin: 0;
          font-family: "Roboto-Light", sans-serif; }
        .constructor .panel .proj_intro_img_addInfo_right div div, .constructor .authentication .panel_logIn .proj_intro_img_addInfo_right div div, .authentication .constructor .panel_logIn .proj_intro_img_addInfo_right div div {
          width: 60%;
          display: block; }
    .constructor .panel .proj_intro_description, .constructor .authentication .panel_logIn .proj_intro_description, .authentication .constructor .panel_logIn .proj_intro_description {
      font-family: "Roboto-Light", sans-serif;
      margin: 60px 0; }
  .constructor .about_team img {
    width: 370px;
    height: 266px;
    display: inline-block;
    -webkit-border-radius: 3pt;
    -moz-border-radius: 3pt;
    -ms-border-radius: 3pt;
    border-radius: 3pt; }
  .constructor .about_team .about_team_title {
    margin: 0 0 11px 0;
    font-family: "Roboto-Light", sans-serif; }
  .constructor .about_team .about_team_description {
    display: inline-block;
    width: 571px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 0 0 33px; }
  .constructor .about_team_container {
    display: flex;
    font-family: "Roboto-Light", sans-serif; }
  .constructor .job_list {
    min-height: 200px; }
    .constructor .job_list table {
      width: 100%; }
    .constructor .job_list .item_identical {
      background: #53a4dc;
      color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      box-sizing: border-box;
      padding-top: 15px;
      font-family: "Roboto-Light", sans-serif;
      font-size: 1.1em;
      position: relative; }
    .constructor .job_list tr:nth-child(2) .item_identical:before {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #272727 url("../Materials/Materials_v2.gif") 103% 109% no-repeat;
      background-size: 255%;
      top: 0;
      left: 0; }
    .constructor .job_list th {
      padding: 5px 5px 5px 5px;
      box-sizing: border-box;
      background: #f2f2f2;
      border-bottom: 2px solid white;
      border-right: 1px solid white;
      font-family: "Roboto-Light", sans-serif; }
    .constructor .job_list td {
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      border-right: 1px solid white; }
    .constructor .job_list td:nth-child(2) div {
      padding: 5px 10px 5px 15px;
      box-sizing: border-box;
      background: #f8f8f8;
      margin-bottom: 3px; }
    .constructor .job_list th:first-child, .constructor .job_list td:first-child {
      width: 5%; }
    .constructor .job_list td:first-child {
      background: white; }
    .constructor .job_list th:nth-child(2), .constructor .job_list td:nth-child(2) {
      width: 50%; }
    .constructor .job_list th:nth-child(2), .constructor .job_list th:nth-child(3) {
      text-align: left;
      padding-left: 15px; }
    .constructor .job_list td:nth-child(2) h3 {
      font-family: "Roboto-Light", sans-serif;
      margin: 10px 0 20px 0; }
    .constructor .job_list td:nth-child(2) p {
      margin: 0;
      font-size: 0.8em; }
    .constructor .job_list td:nth-child(3) {
      text-align: center;
      position: relative;
      background: #f8f8f8;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
      .constructor .job_list td:nth-child(3) button {
        position: absolute;
        height: 100%;
        width: 50px;
        right: 0;
        top: 0;
        background: #a4d1ed;
        text-align: center;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        border: none;
        -webkit-transition: background-position 1s ease 0s;
        -moz-transition: background-position 1s ease 0s;
        -ms-transition: background-position 1s ease 0s;
        -o-transition: background-position 1s ease 0s;
        transition: background-position 1s ease 0s; }
        .constructor .job_list td:nth-child(3) button:hover:after {
          background-position: -15% 43%; }
        .constructor .job_list td:nth-child(3) button:after {
          content: "";
          background: transparent url("../Materials/Materials_v2.gif") 53% 43% no-repeat;
          background-size: 244%;
          width: 49px;
          height: 38px;
          position: absolute;
          top: 40%;
          left: 0;
          opacity: 0.3; }
        .constructor .job_list td:nth-child(3) button a {
          text-decoration: none;
          color: white;
          font-family: "Roboto-Regular", sans-serif;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
  .constructor .qanda {
    max-width: 960px;
    width: 400px;
    height: 140px;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 200px; }
    .constructor .qanda h3 {
      box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      background: white;
      height: 73px;
      padding: 26px 0 0 0;
      box-sizing: border-box;
      font-family: "Roboto-light", sans-serif; }
    .constructor .qanda h4 {
      font-family: "Roboto-Light", sans-serif;
      font-size: 0.9em; }

@font-face {
  font-family: Roboto-Bold;
  src: url("../libs/fonts/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Roboto-Regular;
  src: url("../libs/fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Roboto-Light-Italic;
  src: url("../libs/fonts/Roboto-LightItalic.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Roboto-Italic;
  src: url("../libs/fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Roboto-Light;
  src: url("../libs/fonts/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat;
  src: url("../libs/fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-Bold;
  src: url("../libs/fonts/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal; }
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular; }

/*# sourceMappingURL=Main_style.css.map */
